<!doctype html>
<html>
  <head>
    <title>...results...</title>
  </head>
  
  <body>
    <h1> Get your fortune! Two dollas each! Just kiddin'</h1> 
    <h3> Hello, <%=@the_user%>, your fortune is... <%=@the_fortune%> </h3>
    <img src="https://media1.tenor.com/images/04a90e960657db4527b3f87af2fbf5fd/tenor.gif?itemid=7850155">
  </body>
</html>